

.vip2{
    background-color: rgb(250, 0, 0);
    width: 30%;
    font-size: large;
}

.paragrap{
    text-align: justify;
    border: 2px solid red;
    outline: 1px solid  green;
    outline-offset: 11px;
    width: 50%;
    margin: 50px auto;
    padding: 4px  8px ;
   
    
}

.padding{
font-size: large;
font-weight: bold;
text-align: justify;
border: 5px solid red;
outline: 5px solid rgb(245, 158, 172);
outline-offset: 10px;
padding: 10px;
margin:  50px auto  ;
width: 50%;

}


.height{
    min-height: 100px;
    max-height: 500px;
    width: 50%;
    margin: 50px auto;
    border: 3px solid red;
}


.width{
    border: 2px solid red;
    margin: auto ;
    width: 50%; 
}

img{
    width: 100%;
}


#box{
    width: 500px;
    border: 20px solid black;
    padding: 30px;
    box-sizing: border-box;
    margin: 50px auto;
}
.overflow{
    width: 250px;
    height: 250px;
    border:  2px solid black;
    margin:  40px;
    overflow:auto;
    
}

.radius{
    width: 300px;
    border: 5px solid black;
    /* border-top-right-radius: 50px ;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 60px; */
    border-radius:  40px ;
    padding: 10px;
    margin: 30px;
}
.radius2{
    background-color: yellow;
    border: 10px solid red;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}